{{! Change URLs to your profiles here. }}
<div class="custom-links">
    <a href="#" target="_blank" title="Telegram"><i class="fa fa-paper-plane"></i></a>&nbsp;&nbsp;
    <a href="#" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
    <a href="#" target="_blank" title="VKontakte"><i class="fa fa-vk"></i></a>&nbsp;&nbsp;
    <a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
    <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    <a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a>
</div>
