{{! Change URLs to your profiles here. }}
<div class="custom-links">
    <a href="https://github.com/ladislas" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
    <a href="https://www.facebook.com/ladisonline" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
    <a href="https://twitter.com/ladisonline" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    <a href="http://fr.linkedin.com/in/ladislasdetoldi" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href="http://ladislas.me/aboutme">about me</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href="http://leka.io">Leka</a>&nbsp;&nbsp;
</div>
